body{
    background: rgb(192, 192, 109)
}
h1{
    font-size: 60px;
    color: rgb(226, 86, 43);
}
img{
    width: 14%;
    height: 2%;
    margin: 1%;
}
.cabecalho{
    background-color: blueviolet;
}
.logocabecalho{
    width: 100px;
    height: 100px;
    margin-top: 70px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 55px;
}
.item_lista_cabecalho{
    font-size: 28px;
    list-style: none;
    padding-left: 70px;
}
header li {
    display: inline;
    text-transform: uppercase;
    }